<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
	<php>
		<const name="WP_TESTS_MULTISITE" value="1"/>
	</php>
	<testsuites>
		<testsuite name="ultimate-multisite-addon-template_tests">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./inc/</directory>
		</include>
		<exclude>
			<directory>./vendor/</directory>
			<directory>./tests/</directory>
		</exclude>
	</coverage>
</phpunit>